@using Timer.Models.Requests;
@{

}

@model UserRegistrationRequest
<div class="container">
	<div class="row mt-5">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h1 class="card-title">Register</h1>
				</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">

						<div class="mb-3">
							@Html.LabelFor(m => m.UserName, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "Username"})
							@Html.ValidationMessageFor(m => m.UserName)
						</div>

						<div class="mb-3">
							@Html.LabelFor(m => m.Email, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.Email, new {@class = "form-control", type = "email", placeholder = "Email"})
							@Html.ValidationMessageFor(m => m.Email)
						</div>

						<div class="mb-3">
							@Html.LabelFor(m => m.Phone, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.Phone, new {@class = "form-control", type = "phone", placeholder = "Phone"})
							@Html.ValidationMessageFor(m => m.Phone)
						</div>

						<div class="mb-3">
							@Html.LabelFor(m => m.Password, new {@class = "form-label"})
							@Html.TextBoxFor(m => m.Password, new {@class = "form-control", type = "password"})
							@Html.ValidationMessageFor(m => m.Password)
						</div>

						<button type="submit" class="btn btn-success">Register</button>
						<a href="/" class="btn btn-outline-info">Return</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>